<h1>projects</h2>

<%= link_to "プロジェクト作成", new_project_path  %>
<ul>
  <% @projects.each do |project| %>
    <li><%= project.name %> <%= link_to "編集", edit_project_path(project.id) %>
      <%= link_to "削除", project_path(project.id), method: :delete,
        data: {confirm: "本当に削除しますか？"} %>
    </li>
  <% end %>
</ul>
